/** @format */

body {
	height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.face-container {
	width: 250px;
	height: 250px;
	background: radial-gradient(
		circle,
		rgba(245, 206, 15, 1) 52%,
		rgba(210, 177, 14, 1) 83%
	);
	border-radius: 100%;
	position: relative;
}
.face-container:hover {
	cursor: pointer;
}

.eye {
	width: 45px;
	height: 45px;
	background-color: #e3e4e2;
	border-radius: 100%;
}

.eye-inner {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #000;
	border-radius: 50%;
	margin-left: 4px;
	margin-top: 4px;
}
.eye-inner::after {
	position: absolute;
	top: 2px;
	left: 10px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
	content: ' ';
}

.left-eye {
	position: absolute;
	left: 50px;
	top: 65px;
}

.right-eye {
	position: absolute;
	right: 50px;
	top: 65px;
}

.eyebrow {
	height: 25px;
	width: 52px;
	border-radius: 50%;
	border: 5px solid transparent;
	box-sizing: border-box;
	border-top-color: black;
}
.left-eyebrow {
	position: absolute;
	top: 50px;
	left: 48px;
}
.right-eyebrow {
	position: absolute;
	right: 48px;
	top: 50px;
}

.mouth {
	position: absolute;
	top: 156px;
	left: 77px;
	width: 102px;
	height: 40px;
	border: 6px solid transparent;
	box-sizing: border-box;
	border-radius: 50%;
	border-top-color: black;
}

.mouth-happy {
	position: absolute;
	width: 102px;
	height: 37px;
	background-color: black;
	top: 149px;
	left: 77px;
	box-sizing: border-box;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.tongue {
	width: 62px;
	height: 20px;
	background: red;
	position: absolute;
	top: 166px;
	left: 97px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
}

/* Animations */

.color-change {
	-webkit-animation: color-change 10s linear infinite alternate both;
	animation: color-change 10s linear infinite alternate both;
}

@-webkit-keyframes color-change {
	0% {
		background: #19dcea;
	}
	100% {
		background: #b22cff;
	}
}
@keyframes color-change {
	0% {
		background: #19dcea;
	}
	100% {
		background: #b22cff;
	}
}

.float {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
		transform: translatey(-30px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
		transform: translatey(0px);
	}
}

.smile {
	animation: smile 0.5s ease-out forwards;
}

@keyframes smile {
	0% {
		position: absolute;
		top: 156px;
		left: 77px;
		width: 102px;
		height: 80px;
		box-sizing: border-box;
		border-radius: 50%;
		border-top-color: black;
	}

	100% {
		position: absolute;
		width: 102px;
		height: 37px;
		background-color: black;
		top: 149px;
		left: 77px;
		box-sizing: border-box;
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
	}
}

.tongue {
	animation: tongue 0.5s ease-out forwards;
}

@keyframes tongue {
	0% {
		position: absolute;
		top: 156px;
		left: 77px;
		width: 102px;
		height: 80px;
		border: 6px solid transparent;
		box-sizing: border-box;
		border-radius: 50%;
		border-top-color: black;
	}

	100% {
		width: 62px;
		height: 20px;
		background: red;
		position: absolute;
		top: 166px;
		left: 97px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
		border-bottom-left-radius: 100%;
		border-bottom-right-radius: 100%;
	}
}
